.ringindicator{
	-fx-ring-width: 8.0px;
	-fx-inner-radius: 100.0px;
}
.ringindicator2{
	-fx-ring-width: 8.0px;
	-fx-inner-radius: 87.0px;
}

.ringindicator-inner-circle {
	-fx-opacity: 1;
	-fx-stroke: #34404d;
	-fx-stroke-width: 0px;
	-fx-fill: transparent;
}
.ringindicator-filler {
	-fx-opacity: 1;
	-fx-stroke: #FF6861;
	-fx-fill: transparent;
	-fx-stroke-line-cap: butt;
}

.ringindicator-outer-circle-secondary {
	-fx-opacity: 1;
	-fx-stroke: #34404d;
	-fx-stroke-width: 7.0px;
	-fx-fill: transparent;
}
.indeterminate {
	-fx-opacity: 1;
    -fx-stroke: #34404d;
    -fx-stroke-width: 8.0px;
}
