.root {
    -fx-background-color: #4C5A6D;
}

.button {
}

.button-orange{
    -fx-background-color: #FF6861;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.button-blue {
    -fx-background-color: #8fd8f7;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
