.root {
    -fx-background-color: #17212b;
}

.button {
}


@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-family: 'Roboto';
}

.canvas{
    -fx-fill: #7dbae3;
    -fx-background-color: #7dbae3;
}

.button-orange{
    -fx-background-color: #e65b4c;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: 'Roboto';
}

.button-blue {
    -fx-background-color: #7dbae3;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: 'Roboto';
}

.button-forgot{
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: 'Roboto';
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: 'Roboto';
}

.hbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4;
}

