.root {
    -fx-background-color: #17212b;
}

.button {
}


.label{
    /*-fx-text-fill: white;*/
    /*-fx-font-size: 20;*/
    -fx-font-family: 'Roboto-Regular';
}

.button-orange{
    -fx-background-color: #e65b4c;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.button-blue {
    -fx-background-color: #7dbae3;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.button-forgot{
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.hbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4;
}

